Source: s6-portable-utils
Section: utils
Priority: optional
Maintainer: multiplexd <multi@in-addr.xyz>
Uploaders: multiplexd <multi@in-addr.xyz>
Build-Depends: debhelper (>= 10), quilt, libskarnet-dev (>= 2.8.0.0)
Standards-Version: 3.9.8
Homepage: https://skarnet.org/software/s6-portable-utils/

Package: s6-portable-utils
Architecture: any
Section: utils
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Tiny portable generic utilities
 s6-portable-utils is a set of tiny general Unix utilities, often
 performing well-known tasks such as cut and grep, but optimized for
 simplicity and small size. They were designed for embedded systems and
 other constrained environments, but they work everywhere.

Package: s6-portable-utils-dev
Architecture: any
Multi-Arch: same
Section: devel
Depends: ${misc:Depends}
Description: Tiny portable generic utilities (development files)
 s6-portable-utils is a set of tiny general Unix utilities, often
 performing well-known tasks such as cut and grep, but optimized for
 simplicity and small size. They were designed for embedded systems and
 other constrained environments, but they work everywhere.
 .
 This package contains the s6-portable-utils develpoment files.
